body{
    background-color:white;
    color:black;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    font-size:1.5em;
}
.logo{
    font-family: 'Style Script', cursive;
}
.logo{
    font-size:50px;
    color:white;
    padding-left:50px;
}
.logo:hover{
    color:#ff5c00;
}
#navbar{
    background-color:black;
    display:flex;
    justify-content:space-between;
    position: fixed;
    width:100%;
    top:0;
} 
.nav-buttons{
    padding-top:20px;
}
.nav-link{
    display:inline;
    margin:0 50px; 
}
.nav-link:hover{
    transform:scale(1.5);
} 
.nav-link a{
    text-decoration:none;
    color:white;
    font-size:20px;   
}
.nav-link a:hover{
    color:#ff9200; 
}  
#welcome-section{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    height:100vh;
    text-align:center;
}
#emoji{
    width:50px;
    animation: moves 3s infinite;
}
#gif{
    height:70px;
    width:70px;
    margin-top:225px;
    
}
#welcome-section h1{
    padding-top:35vh;
}
.container h2{
    text-align:center;
}
#about-me{
    background-color: black;
    color:white;
    padding:20px 0 0 0;   
}
#about-me h2{
    color:#ff5c00;
}
#about{
    display:flex;
    justify-content: space-around;
}
.text{
    width:40%;
    padding:100px 0;
}
#about-me img{
    width:550px;
    height:550px;
}
.about{
    display:flex;
    justify-content:space-around;
}
#skills{
    padding:20px 0;
    text-align:center;
}
#skills p{
    padding-top:30px;
}
.skill-list{
    display:flex;
    justify-content:space-around;
    flex-flow:wrap;
}
.skill-list span{
    font-size:30px;
    width:500px;
    padding:60px 0;
}
#projects{
    background-color: black;
    color:white;
    padding:20px;
}
#projects h2{
    color:#ff5c00;
}
#projects p{
    text-align:center;
    padding-top:20px;
}
.project-tile{
    height:600px;
    width:400px;
    background-color:white;
    margin:30px;
    color:black;
    transition: 0.2s;
}
.project-tile:hover{
    transform: scale(1.05);
}
.project-tile img{
    width:400px;
    height:250px;
}
.project-tile h3{
    text-align:center;
}
.project-details{
    padding:0 30px;
}
button a{
    text-decoration: none;
    color:white;
    display:block;
}
button{
    width:300px;
    height:50px;
   margin:20px 50px;
   background-color: black;
   color: cornsilk;
}
button:hover{
    background-color: gold;
    color:black;
    border:none;
}
.row{
    display:flex;
    flex-flow:wrap;
    justify-content: space-around;
}
#contact-me{
    background-color: white;
    color: black;
}
.Ct,form p{
    text-align: center;
}
form{
    width:600px;
    height:440px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding:10px 0;

}
#name,#email,#submit{
    width:500px;
    height: 35px;
    margin:15px 50px;
    border:none;
}
#submit{
    margin-bottom: 20px;
    width:510px;
    background-color: gold;
}
#submit:hover{
    background-color: #ff5c00;
}
textarea{
    resize:none;
    width:500px;
    margin:15px 50px;
}
.contact{
    display:flex;
    justify-content: space-around;
  flex-flow:wrap;
}
#profile-link a{
    text-decoration: none;
    color:royalblue;
}
#profile-link li{
    list-style-type: none;
    padding:10px 0;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    height:3em;
    margin:40px 0 0 0;
    padding:0.1em;
}
footer a{
    color:white;
}
hr{
    width:35%;
    color:#ff5c00;
}
@keyframes moves{
    50%{
        transform:rotate(75deg);
    }
}
@media(max-width:1350px){
.nav-link{
    display:inline;
    margin:0 20px; 
}
#navbar{
    flex-direction: column;
    text-align: center;
padding-bottom: 20px;
}
}
@media(max-width:800px){
    .nav-link{
        display:inline;
        margin:0 20px; 
    }
    #navbar{
        flex-direction: column;
        text-align: center;
    padding-bottom: 20px;
    }
    #welcome-section h1{
        padding-top: 50vh;
    }
    #gif{
        padding-top:0px;
    }
    }